<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="whole-form">
            <h2>Login</h2>
            <form action="/login" method="POST" novalidate class="needs-validation edit-form">
                <div class="input-label mb-3">
                    <label for="username1">Username</label>
                    <input type="text" name="username" id="username1"
                        placeholder="Enter Username" class="edit-input form-control" required>
                    <div class="valid-feedback">username looks Good!</div>
                    <div class="invalid-feedback">Please enter a username</div>
                </div>
                <div class="input-label mb-3">
                    <label for="pass1">Password</label>
                    <input type="password" name="password" id="pass1"
                        placeholder="Enter Password" class="edit-input form-control" required>
                    <div class="valid-feedback">Password looks Good!</div>
                    <div class="invalid-feedback">Please enter a Password</div>
                </div>
                <button class="btn btn-primary">Login</button>
            </form>
        </div>
    </body>