<% layout("/layouts/boilerplate.ejs") %>

    <body>


        <main>
            <div class="container">
                <% for(women of womens){ %>
                    <a href="/women/<%=women._id%>">
                        <div class="products">
                            <img src="<%=women.img.url%>" alt="" class="women-category-img">
                            <%=women.name%>
                        </div>
                    </a>
                    <% } %>
            </div>
        </main>
    </body>